html {
    width: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 100%;
}

a {
  color: #00B7FF;
}
.border {
    margin-left: 8px;
}
.content{
    width: 100%;
}
#load {
    margin-left: auto;
    width: 400px;
    height: 400px;
    margin: auto;
}
a.active,
a.active:hover {
    font-weight: bold;
    background: lightblue !important;
}